body {
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: traslate(-50%, -50%);
    z-index: -1;
}